@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}

@layer base {
  body {
    @apply tw-bg-secondary tw-overflow-hidden tw-leading-relaxed;
  }
  .page {
    @apply tw-w-full tw-h-screen tw-overflow-hidden;
  }
  .h1 {
    @apply tw-text-[35px] tw-leading-tight md:tw-text-[60px] md:tw-leading-[1.3] tw-mb-8 tw-font-semibold;
  }
  .h2 {
    @apply tw-text-[35px] tw-leading-tight md:tw-text-[54px] md:tw-leading-[1.3] tw-mb-4 tw-font-semibold;
  }
  p {
    @apply tw-leading-[1.8] tw-text-white/60 tw-font-light;
  }
  .btn,
  .input {
    @apply tw-h-[52px];
  }
  .input {
    @apply tw-w-full tw-h-[52px] tw-rounded-lg tw-pl-6 tw-capitalize;
  }
  .input,
  .textarea {
    @apply tw-bg-transparent tw-outline-none focus:tw-ring-1 focus:tw-ring-accent tw-border tw-border-white/20 placeholder:tw-text-white/30 placeholder:tw-font-light;
  }
  .textarea {
    @apply tw-w-full tw-h-[180px] tw-p-6 tw-capitalize tw-rounded-lg tw-resize-none;
  }
}
